h6, p, a, .btn, input, textarea {
    font-size: 16px !important;
}
p {
    color: #233759cc;
}
.or-span {
    vertical-align: super;
    color: #c7c2c2;
}
.addon-top-header {
    background: black;
    color: white;
    padding: 10px 0 1px 0;
    text-align: right;
}
.addon-top-header p span{
    padding: 0 10px 0 10px;
}
.main-bg {
    background-image: url("../img/sactpro-background.png");
    background-size: cover;
    color: #233759;
    /* text-align: center; */
    padding: 150px 30px;
}
.main-bg h5 {
    font-size: 28px;
    font-weight: 200;
    color: #d85339;
}
.main-bg h2 {
    font-size: 42px;
    font-weight: 400;
}
.main-bg p {
    font-size: 18px;
    font-weight: 400;

}
h5 {
    color: #233759;
    font-size: 16px;
    font-weight: 800;
}
.alert-success {
    width: 100%;
}
#margin25px {
    margin-top: 25px;
}
nav .btn-primary {
    background: #d85339 !important;
    color: white !important;
    border-color: #d85339 !important;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-primary {
    background: #233759 !important;
    color: white !important;
    border-color: #232323 !important;
    font-weight: 500;
    text-transform: uppercase;
}
#header {
    margin-top:0px;
    /* margin-bottom:20px; */
}
.top-header {
    padding: 5px 0;
    box-shadow: 0 .25rem .125rem 0 rgba(0,0,0,.05);
    margin-bottom: 5px;
}
.top-nav-header {
    background: black;
}
#top-navigation {
    text-align: right;
    padding: 10px 0 10px 0;
}
.navigator span {
    padding-right: 7px;
}
.noborder-btn {
    padding-top: 5px;
}
.border-btn {
    border: 1px solid #d85339;
    padding: 5px 25px;
}
#navigation p:nth-last-child(3) {
    margin-top: 6px;
}
.border-btn:hover {
    text-decoration: none;
}
#top-navigation p{
    float: right;
}
#top-navigation p a{
    color: white;
    text-align: right;
}

#navigation p span {
    font-size: 13px;
}
.main-logo img {
    /* width: 180px; */
    width: 220px;
}
.nav-tabs {
    border: 0px !important;
}
.nav-tabs p a {
    color: #233759;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}
img {
    background-size: contain;
    width: 100px;
}
.navigator {
    padding: 0 15px 0 15px;
    margin-bottom: 8px;
}
#navigation {
    padding-top: 10px;
    text-align: center;
    display: block;
}
.write {
    padding: 30px 0;
    margin: 30px 0;
}
.write h5 {
    text-align: left;
    color: #233759;
    margin-bottom: 15px;
}
.write p {
    margin-bottom: 30px;
}
.how-works {
    text-align: center;
}
.how-it-works {
    padding: 40px 0;
    background: #f7f7f7;
}
.how-works-title {
    text-align: center;
    padding-bottom: 50px;
}
.how-works img {
    margin-bottom: 10px;
width: 87px;
height: 87px;
}
.register-button-area .button {
    padding: 10px 40px;
    color: white;
    background: #233759;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.register-button-text p {
    padding: 10px 0 10px 0;
}
.register-button-area .button:hover {
    text-decoration: none;
    color: white;
    background: #233759;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.43);
}
.register-area {
    margin: 60px 0;
    text-align: center;
}
.about-text-area-border {
    border-right: 1px solid #cfcfcf;
    text-align: center;
    padding: 20px 20px;
}
.about-text-area-border:nth-child(2){
    border-right: 1px solid black;
    text-align: center;
    padding: 20px 10px 20px 15px;
}

.about-text-area {
    padding-bottom: 10px;
    text-align: center;
    padding: 20px 10px;
}
.about-text-area p {
    padding-bottom: 10px;
}
.about {
    margin: 40px 0;
    padding: 60px 0;
    background: #f7f7f7;
}
.about-text-area-border p {
    padding-bottom: 10px;
}
.form-body {
    padding: 100px 0;
}
.form-body .col-lg-6 {
    padding: 30px 50px;
}
.form-body h4 {
    font-size: 18px;
    padding-bottom: 20px;
}
.login-body {
    padding: 100px 0;
}

.login-body .col-lg-6 {
    padding: 30px 50px;
}


.login-body h4 {
    font-size: 18px;
    padding-bottom: 20px;
}
.forgot-password {
    color: #233759;
}

.form-body .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}
#tutor-border {
    border-right: 1px solid #dbdbdb;
}

.login-body .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}

#tutor-border {
    border-right: 1px solid #dbdbdb;
}


/* Footer */
.footer {
    background: #f7f7f7;
    padding: 50px 0;
}
.footer-logo img {
    width: 120px;
    margin-bottom: 20px;
}
.footer h5 {
    color: #233759;
    font-size: 18px;
    margin-bottom: 18px;
}
.footer p {
    margin-bottom: 8px;
}
.footer p a {
    color: #233759;
    font-size: 14px;
    margin-bottom: 18px;
}
.footer-links {
    margin-bottom: 24px;
}
.social-connect {
    padding: 20px 0;
}
.social-connect a img {
    width: 40px;
    margin: 0 2px;
}
/* Footer 2 css */
.copyright {
    background: black;
    padding: 20px 0 20px 0;
}
.copyright-text p {
    color: #f7f7f7 !important;
}
.copyright-links {
    text-align: right;
}
.copyright-links a {
    font-size: 14px;
    color: #f7f7f7;
    padding: 0 10px;
}
.copyright-links a:hover {
    font-size: 14px;
    color: #f7f7f7;
}


.footer-logo .form-group {
    display: block;
}
.footer-logo .form-group input {
    width: 80%;
    display: initial;
}

/* Privacy */
.privacy {
    margin: 50px 0;
}
.privacy .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}
.privacy h4 {
    margin-bottom: 50px;
}
.privacy h5 {
    font-size: 16px;
}

/* About */
.about-us {
    margin: 50px 0;
}
.about-us .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}
.about-us h4 {
    margin-bottom: 50px;
}
.about-us h5 {
    font-size: 16px;
}

/* Contact */
.contact {
    margin: 50px 0;
}
.contact .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}
.contact h4 {
    margin-bottom: 50px;
}
.contact h5 {
    font-size: 16px;
    margin-top: 30px;
}




/* Dashboard */

.dashboard-logo img {
    width: 180px;
    margin: 10px 0;
}
.profile-image {
    margin: 30px 0;
    text-align: center;
}
.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.profile-details {
    padding: 20px 0;
}
.setting-info {
    background-color:#f7f7f7;
    text-align: left;
    padding: 20px 15px;
    border-radius: 2px;
    box-shadow: 0px 2px 0 0px #c2c2c2;
}
.setting-info ul {
    padding: 0px 20px;
}
.setting-info ul li {
    list-style-type: none;
}
.setting-info ul li a {
    display: block;
    padding: 5px 5px;
    color: #233759;
}
.setting-info ul li a:hover {
    text-decoration: none;
    background: #d75238;
    color: white;
}

.leads-title {
    text-align: center;
    padding: 30px;
}
.leads-title h5 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}
.leads {
    background-color:#f7f7f7;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0 0px #c2c2c2;
}
.leads p {
  font-size: 14px !important;
  color: #233759;
}
.leads-desc-title {
    padding: 0 20px;
    font-weight: 600;
    color: #535353;
}
.lead-text p a {
  color: #d85339;
  padding-bottom: 4px;
}
.leads .profile-img img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.small-text {
    font-size: 12px;
}


.checkbox {
    margin-bottom: 10px;
}
.termslink {
    color: #233759;
    text-decoration: underline;
}
.card {
    padding: 90px !important;
    border: none !important;
}
.nav-tabs .nav-link {
    border-radius: 0% !important;
    border: none !important;
}
.nav-item a {
    text-transform: uppercase;
}
.nav-link {
    padding: 15px 0 !important;
}
.nav-item a {
    color: #233759 !important;
}
.none-assigned h5 {
    text-align: center;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none !important;
    border: o !important;
}

.nav-tabs > li.active {
    border-right: 2px solid #a6a6a6 !important;
    background: none !important;
}

.nav-tabs {
    padding: 20px 0px;
    /* border-bottom: 1px solid #E6e6e6 !important; */
}
.nav-tabs li {
    width: 50%;
    text-align: center;
}
.nav-tabs li a {
    color: #233759;
    font-weight: bold;
    font-size: 20px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-right: 1px solid #E6e6e6 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #d85339;
}
/* Mobile */

@media only screen and (max-width: 980px) {
    #tutor-border {
        border-bottom: 1px solid #dbdbdb;
        border-right: none;
    }
    .about-text-area-border {
        border-bottom: 1px solid #cfcfcf;
        border-right: none;
    }
    .copyright-text p {
        text-align: center;
    }
    .copyright-links {
        text-align: center;
    }
    .about-us .container {
        padding: 20px;
    }
    .contact .container {
        padding: 20px;
    }



    .card {
        padding: 40px 15px !important;
        border: none !important;
    }
    .nav-tabs .nav-link {
        border-radius: 0% !important;
        border: none !important;
    }
    .nav-item a {
        text-transform: uppercase;
        font-size: 16px !important;
    }
    .nav-link {
        padding: 10px 0 !important;
    }
    /* Mobile */
    .nav-item a {
        color: #233759 !important;
    }
.col_withborder {
       border-bottom: 0px solid #233759;
       border-right: 0 !important;
       padding-bottom: 30px;
    }
}


@media only screen and (max-width: 600px) {
    .main-logo {
        text-align: center;
    }
    .form-body .container {
        padding: 15px;
    }
    .login-body .container {
        padding: 15px;
    }

    .nav-item a {
        text-transform: uppercase;
        font-size: 14px !important;
    }

    #register-icon {
        width: 60px !important;
        height: 60px !important;
        text-align: center;
        border-radius: 50px !important;
    }
    #register-icon img {
        width: 30px !important;
    }

    #update-icon {
        width: 60px !important;
        height: 60px !important;
        text-align: center;
        border-radius: 50px !important;
    }

    #update-icon img {
        width: 30px !important;
    }

    #leads-icon {
        width: 60px !important;
        height: 60px !important;
        text-align: center;
        border-radius: 50px !important;
    }
    #leads-icon img {
        width: 30px !important;
    }

    #demo-icon {
        width: 60px !important;
        height: 60px !important;
        text-align: center;
        border-radius: 50px !important;
    }
    #demo-icon img {
        width: 30px !important;
    }

    #confirm-icon {
        width: 60px !important;
        height: 60px !important;
        text-align: center;
        border-radius: 50px !important;
    }
    #confirm-icon img {
        width: 30px !important;
    }
.col_withborder {
       border-bottom: 0px solid #233759;
       border-right: 0 !important;
       padding-bottom: 30px;
    }

}

#register-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px !important;
}
#register-icon img {
    width: 60px;
}

#update-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px !important;
}

#update-icon img {
    width: 60px;
}

#leads-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px !important;
}
#leads-icon img {
    width: 60px;
}

#demo-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px !important;
}
#demo-icon img {
    width: 60px;
}

#confirm-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px !important;
}
#confirm-icon img {
    width: 60px;
}
#card {
    padding: 30px !important;
    margin-top: 10px;
}

.how-it-works #card #navigation {
    text-align: left !important;
}
.how-it-works #card #navigation p {
    padding-left: 0px !important;
}





/* Main Navigation */
.navbar-light .navbar-nav .nav-link {
    margin: 0 10px !important;
    text-transform: capitalize;
}
.nav-link:hover {
    border-bottom: 2px solid #d85339;
    padding-bottom: 5px !important;
}
nav .btn-default {
    margin: 0 10px;
    background: none;
    border: 2px solid #233759 !important;
    color: #233759;
}

.footer p a:hover {
    text-decoration: none;
    border-bottom: 2px solid #d85339;
    padding-bottom: 5px;
}



#testimonial h2 {
	color: #333;
	text-align: center;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
#testimonial h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #d75238;;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 10px 0px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: capitalize;
	color: #d75238;;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 10px 2px 2px rgba(0,0,0,0.2);
  width: 10px !important;
  height: 10px !important;
  border-color: #999 !important;
}
.carousel-indicators li.active {
	background: #555;
	/* box-shadow: inset 0 2px 1px rgba(0,0,0,0.2); */
}

.pricing {
  border: 1px solid #233759;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.pricing:hover {
  /* box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); */
  box-shadow: 1px 0.25rem 1.75rem rgba(82, 82, 82, 0.9);
}
.pricing h3 {
  padding: 20px 0;
  text-align: center;
  background: #233759;
  color: white;
  font-size: 24px;
}
.pricing p {
  padding: 5px 10px;
  font-size: 14px !important;
}
.grey {
  font-size: 26px !important;
  text-align: center;
  padding: 25px 0;
}
.grey span {
  font-size: 22px;
  color: #9e9e9e;
}
#rzp-button1 {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
}
.razorpay-payment-button {
  background: #233759 !important;
  color: white !important;
  border-color: #232323 !important;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 0;
  border: 0px;
}
form {
  margin: 0;
}
.faq {
  margin: 50px 0;
}
.faq .container {
    background: #f7f7f7;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0px 3px 0 0px #c2c2c2;
}
.testimonial {
    margin: 25px 0;
    padding: 60px 0;
    background: #f7f7f7;
  }
  #faq {
      /* padding: 50px 0; */
    }

.faqHeader {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .panel {
      margin-bottom: 10px;
    }
    .panel-heading a {
      color: white !important;
    }
    .panel-heading {
      background: #233759;
  padding: 2px 10px;
  margin-bottom: : 5px;
    }
    .panel-body {
      background: #f7f7f7;
      padding: 10px 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'fontawesome';
        content: "\f054"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 38px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #FFF;
    }


.col_withborder {
   border-right: 1px solid #233759;
   /* padding-bottom: 40px; */
   padding: 20px 40px 20px 20px;
}




















.inner-bg {
    padding: 25px;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
  padding-top: 25px;
  text-align: center;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

form .form-bottom textarea {
	height: 100px;
}

form .form-bottom button.btn {
	min-width: 105px;
}

form .form-bottom .input-error {
	border-color: #19b9e7;
}


#counter {
  margin: 40px 0;
}
.single_counter {
  text-align: center;
}
.main_counter_area .main_counter_content .single_counter i{
  font-size:36px;
}





#scroll-modal {
  max-height: 700px;
  overflow: scroll;
}
.pop_label {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
label {
  font-size: 12px;
}
select {
  height: 34px !important;
}
#prof_update_btn {
  margin-top: 15px !important;
}
.form-control {
  font-size: 14px !important;
}
fieldset {
  border-bottom: 3px solid #c2c2c2 !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
/* .modal-lg {
  max-width: 1140px !important;
} */

input {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #233759 !important;
  border-radius: 0 !important;
}
textarea {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #233759 !important;
  border-radius: 0 !important;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
#change_plan {
  margin-bottom: 50px;
}
